<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books</title>
  </head>
  <body>
<div class="ui menu">
    <div class="header item navItem">Books</div>
    <a href="/books" class="item navItem">Book List</a>
    <a href="/books/new" class="item navItem">Add Books</a>
</div>